.main-section{
    border:5px solid white;
    background-color: #f3f7f8;
  
}
.user-detail img{
    height:150px;
    width:150px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-detail h5{
    margin:15px 0px  0px;
}
.user-social-detail{
    padding:5px 0px;
    background-color: #16adc6;
    margin-top: 5px;
}
.user-social-detail a i{
    color:#fff;
    font-size:23px;
    padding: 0px 5px;
}

.list-group-item{
    border: none;
    
}

.user-detail{
    min-height: 268px;
}
