<style>
    .latest_news {
        border: none;
    }
</style>

<section id="ns" class="row" style="
background-color: rgb(54, 169, 224);
color: white;
text-align: center;
padding: 10px;
">اختتمت المملكة مشاركتها في أعمال الدورة التاسعة والأربعين للجنة الإحصائية للأمم المتحدة والتي انطلقت بمقر الأمم المتحدة</section>

<!-- news section intro ---------------------------------------------->
<section class="row news" style="background-color: rgb(236, 240, 241);color: #475577;">
    <aside class="col-md-4 news-side">


        <div class="news-body latest_news ">
            <img class="responsive-img img-thumbnail" src="images/n1.png" style="float:right;width: 290px;margin-left:10px;">
            <div class="card-text">
                <h2> <a href="#"> المملكة تختتم مشاركتها في أعمال الدورة (49) للجنة الإحصائية للأمم المتحدة</a> </h2>
                <div class="news-subtitle">May 13, 2018</div>
                <p class="news-pesdo">اختتمت المملكة مشاركتها في أعمال الدورة التاسعة والأربعين للجنة الإحصائية للأمم المتحدة والتي انطلقت بمقر الأمم المتحدة
                </p>
            </div>
        </div>

    </aside>

    <aside class="col-md-4 news-side">

        <div class="news-body latest_news">
            <img class="responsive-img img-thumbnail" src="images/n1.png" style="float:right;width: 290px;margin-left:10px;">
            <div class="card-text">
                <h2> <a href="#"> المملكة تختتم مشاركتها في أعمال الدورة (49) للجنة الإحصائية للأمم المتحدة</a> </h2>
                <div class="news-subtitle">May 13, 2018</div>
                <p class="news-pesdo">اختتمت المملكة مشاركتها في أعمال الدورة التاسعة والأربعين للجنة الإحصائية للأمم المتحدة والتي انطلقت بمقر الأمم المتحدة
                </p>
            </div>
        </div>

    </aside>
    <aside class="col-md-4 news-side">


        <div class="news-body latest_news">
            <img class="responsive-img img-thumbnail" src="images/n1.png" style="float:right;width: 290px;margin-left:10px;">
            <div class="card-text">
                <h2> <a href="#"> المملكة تختتم مشاركتها في أعمال الدورة (49) للجنة الإحصائية للأمم المتحدة</a> </h2>
                <div class="news-subtitle">May 13, 2018</div>
                <p class="news-pesdo">اختتمت المملكة مشاركتها في أعمال الدورة التاسعة والأربعين للجنة الإحصائية للأمم المتحدة والتي انطلقت بمقر الأمم المتحدة
                </p>
            </div>
        </div>

    </aside>

</section>

<!-- news section ---------------------------------------------->
<section class="row news">
    <aside class="col-md-6 news-side" style="background-color:#fff;">


        <div class="card-title">
            <ul class="nav nav-tabs news-sub">
                <li class="nav-item " ng-class="{ active: isSet(1) }">
                    <a class="nav-link " href ng-click="setTab(1)">اخبار</a>
                </li>
                <li class="nav-item" ng-class="{ active: isSet(2) }">
                    <a class="nav-link " href ng-click="setTab(2)">المف الصحفى</a>
                </li>
                <li class="nav-item" ng-class="{ active: isSet(3) }">
                    <a class="nav-link " href ng-click="setTab(3)">اخبار إجتماعية</a>
                </li>
            </ul>
        </div>

        <div ng-show="isSet(1)">
            <div class="news-body">
                <img class="responsive-img img-thumbnail" src="images/n1.png" style="float:right; width:150px; margin-left:10px;">
                <div class="card-text">
                    <h2> <a href="#"> المملكة تختتم مشاركتها في أعمال الدورة (49) للجنة الإحصائية للأمم المتحدة</a> </h2>
                    <div class="news-subtitle">May 13, 2018</div>
                    <p class="news-pesdo">اختتمت المملكة مشاركتها في أعمال الدورة التاسعة والأربعين للجنة الإحصائية للأمم المتحدة والتي انطلقت بمقر الأمم المتحدة
                    </p>
                </div>
            </div>

            <div class="news-body">
                <img class="responsive-img img-thumbnail" src="images/n2.jpeg" style="float:right; width:150px; margin-left:10px;">
                <div class="card-text">
                    <h2> <a href="#">الموافقة على إنشاء "وحدة الاتصال والتنسيق" لتعزيز التواصل بين الإدارات</a> </h2>
                    <div class="news-subtitle">May 13, 2018</div>
                    <p class="news-pesdo">أصدر معالي رئيس الهيئة الدكتور فهد بن سليمان التخيفي، قراراً إدارياً بإنشاء وحدة إدارية بمسمى "وحدة الاتصال والتنسيق" ترتبط
                    </p>
                </div>
            </div>


            <div class="news-body">
                <img class="responsive-img img-thumbnail" src="images/n3.jpg" style="float:right; width:150px; margin-left:10px;">
                <div class="card-text">
                    <h2> <a href="#"> رسائل شكر وعرض خاص للزميلات بمناسبة اليوم العالمي للمرأة</a> </h2>
                    <div class="news-subtitle">May 13, 2018</div>
                    <p class="news-pesdo"> بمناسبة اليوم العالمي للمرأة، قامت الهيئة صباح اليوم بمبادرة من خلال إهداء رسائل خاصة لجميع الزميلات على مكاتبهن مع تقديم الورود له
                    </p>
                </div>
            </div>
        </div>

        <div ng-show="isSet(2)">
            <div class="news-body">
                <img class="responsive-img img-thumbnail" src="images/n1.png" style="float:right; width:150px; margin-left:10px;">
                <div class="card-text">
                    <h2> <a href="#"> المملكة تختتم مشاركتها في أعمال الدورة (49) للجنة الإحصائية للأمم المتحدة</a> </h2>
                    <div class="news-subtitle">May 13, 2018</div>
                    <p class="news-pesdo">اختتمت المملكة مشاركتها في أعمال الدورة التاسعة والأربعين للجنة الإحصائية للأمم المتحدة والتي انطلقت بمقر الأمم المتحدة
                    </p>
                </div>
            </div>
        </div>
        <div ng-show="isSet(3)">
            <div class="news-body">
                <img class="responsive-img img-thumbnail" src="images/n1.png" style="float:right; width:150px; margin-left:10px;">
                <div class="card-text">
                    <h2> <a href="#"> المملكة تختتم مشاركتها في أعمال الدورة (49) للجنة الإحصائية للأمم المتحدة</a> </h2>
                    <div class="news-subtitle">May 13, 2018</div>
                    <p class="news-pesdo">اختتمت المملكة مشاركتها في أعمال الدورة التاسعة والأربعين للجنة الإحصائية للأمم المتحدة والتي انطلقت بمقر الأمم المتحدة
                    </p>
                </div>
            </div>
            <div class="news-body">
                <img class="responsive-img img-thumbnail" src="images/n2.jpeg" style="float:right; width:150px; margin-left:10px;">
                <div class="card-text">
                    <h2> <a href="#">الموافقة على إنشاء "وحدة الاتصال والتنسيق" لتعزيز التواصل بين الإدارات</a> </h2>
                    <div class="news-subtitle">May 13, 2018</div>
                    <p class="news-pesdo">أصدر معالي رئيس الهيئة الدكتور فهد بن سليمان التخيفي، قراراً إدارياً بإنشاء وحدة إدارية بمسمى "وحدة الاتصال والتنسيق" ترتبط
                    </p>
                </div>
            </div>
        </div>

    </aside>

    <aside class="col-md-6 news-side" style="background-color:#fff;">

        <div class="card-title">
            <h1><i class="fas fa-rss-square"></i> أخبار خارجيه</h1>
        </div>

        <div class="news-body">
            <img class="responsive-img img-thumbnail" src="images/was1.jpg" style="float:right; width:150px; margin-left:10px;">
            <div class="card-text">
                <h2> <a href="#"> خادم الحرمين الشريفين يرأس جلسة مجلس الوزراء</a> </h2>
                <div class="news-subtitle">May 13, 2018</div>
                <p class="news-pesdo">رأس خادم الحرمين الشريفين الملك سلمان بن عبدالعزيز آل سعود ـ حفظه الله ـ، الجلسة، التي عقدها مجلس الوزراء، بعد ظهر اليوم الثلاثاء .
                </p>
            </div>
        </div>

        <div class="news-body">
            <img class="responsive-img img-thumbnail" src="images/was2.jpg" style="float:right; width:150px; margin-left:10px;">
            <div class="card-text">
                <h2> <a href="#">برئاسة سمو ولي العهد .. مجلس الشؤون الاقتصادية والتنمية يعتمد برنامج التخصيص</a> </h2>
                <div class="news-subtitle">May 13, 2018</div>
                <p class="news-pesdo">اعتمد مجلس الشؤون الاقتصادية والتنمية برئاسة صاحب السمو الملكي الأمير محمد بن سلمان بن عبدالعزيز اليوم خطة تنفيذ برنامج التخصيص
                </p>
            </div>
        </div>


        <div class="news-body">
            <img class="responsive-img img-thumbnail" src="images/was3.jpg" style="float:right; width:150px; margin-left:10px;">
            <div class="card-text">
                <h2> <a href="#"> "مدني الرياض" يدعو لأخذ الحيطة والحذر</a> </h2>
                <div class="news-subtitle">May 13, 2018</div>
                <p class="news-pesdo">دعت مديرية الدفاع المدني بمنطقة الرياض، المواطنين والمقيمين إلى أخذ الحيطة والحذر؛ وذلك لورود تنبيه متقدم من الهيئة العامة للأرصاد
                </p>
            </div>
        </div>
    </aside>

</section>